@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99%;
    --foreground: 240 10% 10%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 10%;

    --primary: 240 5% 15%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 5% 96%;
    --secondary-foreground: 240 5% 15%;

    --muted: 240 5% 96%;
    --muted-foreground: 240 5% 45%;

    --accent: 240 5% 93%;
    --accent-foreground: 240 5% 15%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5% 90%;
    --input: 240 5% 90%;
    --ring: 240 5% 15%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5% 26%;
    --sidebar-primary: 240 5% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 5% 96%;
    --sidebar-accent-foreground: 240 5% 10%;
    --sidebar-border: 240 5% 91%;
    --sidebar-ring: 240 5% 60%;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 0 0% 95%;

    --card: 240 10% 6%;
    --card-foreground: 0 0% 95%;

    --popover: 240 10% 6%;
    --popover-foreground: 0 0% 95%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 10% 4%;

    --secondary: 240 5% 15%;
    --secondary-foreground: 0 0% 95%;

    --muted: 240 5% 15%;
    --muted-foreground: 240 5% 55%;

    --accent: 240 5% 15%;
    --accent-foreground: 0 0% 95%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5% 18%;
    --input: 240 5% 18%;
    --ring: 240 5% 80%;

    --sidebar-background: 240 5% 6%;
    --sidebar-foreground: 240 5% 95%;
    --sidebar-primary: 224 76% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 4% 15%;
    --sidebar-accent-foreground: 240 5% 95%;
    --sidebar-border: 240 4% 15%;
    --sidebar-ring: 240 5% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}
